<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/home/ishara/identity-workflow-simple/components/org.wso2.carbon.identity.workflow.engine/src/test/java/org/wso2/carbon/identity/workflow/engine">
        <classes>
            <class name="org.wso2.carbon.identity.workflow.engine.DefaultWorkflowEventRequestServiceTest">
                <methods>
                    <include name="testAddApproversOfRequestsData"/>
                    <include name="testDeleteApprovalOfRequest"/>
                    <include name="testCreateStatesOfRequest"/>
                    <include name="testUpdateStateOfRequest"/>
                    <include name="testDeleteStateOfRequest"/>
                </methods>
            </class>
            <class name="org.wso2.carbon.identity.workflow.engine.internal.dao.impl.WorkflowEventRequestDAOImplTest">
                <methods>
                    <include name="testAddApproversOfRequest"/>
                    <include name="testDeleteApproversOfRequest"/>
                    <include name="testCreateStatesOfRequest"/>
                    <include name="testUpdateStateOfRequest"/>
                    <include name="testDeleteCurrentStepOfRequest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>